* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-width: 100vh;
  max-width: 1400px;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}
body,
a {
  /* color: #ffffff; */
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

header nav {
  position: absolute;
  right: 80px;
  margin-top: 32px;
}

header nav ul {
  display: flex;
}
header nav ul li {
  font-size: 2.2rem;
}
header nav ul li a {
  text-transform: uppercase;
  color: white;
  transition: 200ms ease-in;
  opacity: 0.7;
}
header nav ul li a:hover {
  opacity: 1;
  text-decoration: underline;
}

header nav ul li:last-child {
  margin-left: 124px;
}

.container {
  display: flex;
  max-width: 1400px;
  height: 100vh;
  background: url('./assets/bg.png') no-repeat;
  /* object-fit: contain; */
  background-size: cover;
}

.text {
  align-items: center;
  justify-items: center;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.text h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  text-transform: uppercase;
  color: white;
  font-size: 8.4rem;
}

.text h1 span {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorCycle 10s ease-in-out infinite;
  filter: brightness(0) invert(1);
}

.text h1 span:nth-child(1) {
  background-image: linear-gradient(90deg, #f6ff08, #fc6b04);
}
.text h1 span:nth-child(2) {
  background-image: linear-gradient(120deg, #f6ff08, #fc6b04);
  animation-delay: 3.33s;
}
.text h1 span:nth-child(3) {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  animation-delay: 6.66s;
}

.text h2 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorCycle 6s step-end infinite;
  background-image: linear-gradient(80deg, #2c2c2c, #000000);
  margin-top: 42px;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
}

.text button {
  margin-top: 52px;
  /* height: 90px;
  width: 220px; */
  padding: 20px 10px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #f83600 0%, #f99523 100%);
  transition: background 300ms ease-in;
}

.text button a {
  margin: 8px;
  text-transform: uppercase;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
.text button:hover {
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}

footer {
  color: white;
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.product {
  display: flex;
  max-width: 1400px;
  height: 100vh;
  background: url('./assets/bg1.png') no-repeat;
  /* object-fit: contain; */
  background-size: cover;
}

@keyframes colorCycle {
  0%,
  55% {
    filter: brightness(0) invert(1);
  }
  11%,
  33% {
    filter: none;
  }
}
