/* about */
.about {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.about {
  display: flex;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  background: url('../assets/bg1.png') no-repeat;
  background-size: cover;
  border-bottom: 2px solid #fc6b04;
}

.text_about {
  margin-top: 120px;
  font-family: 'lato' sans-serif;
}

.text_about h2 {
  font-size: 2.2rem;
  line-height: 3.4rem;
  font-weight: 400;
  max-width: 620px;
}

.text_about .pros {
  display: flex;
}

.text_about ul {
  margin: 32px 8px 32px 16px;
}

.text_about ul li {
  list-style: disc;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.text_about h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 3.2rem;
}
