header{
  display: flex;
  align-items: center;
  justify-items: center;
  border-bottom: 2px solid #fc6b04;
  background: url('../assets/bg1.png') no-repeat;

}
header nav {
    margin: 1.6rem auto;
  }
  
  header nav ul {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  header nav ul li {
    font-size: 2.2rem;
  }
  header nav ul li a {
    text-transform: uppercase;
    color: white;
    transition: 200ms ease-in;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  header nav ul li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  header nav ul li:last-child {
    margin-left: 12.4rem;
  }
  
  header nav ul li:first-child {
    margin-right: 12.4rem;
  }

  footer {
    /* background: url('../assets/bg1.png') no-repeat; */
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.6rem .8rem;
  }
  